# 用python作为计算器

```
+,-,*,/,**
```

In [1]:
print(3+12)

15

In [2]:
print(3*12-5)

31

In [3]:
print(12/3)

4.0

In [7]:
print(11**2)

121

```
==
!=
<
>
<=
>=
```

In [8]:
2<3

True

In [9]:
2==2

True

In [10]:
3>9

False

In [11]:
False<True

True

# strings

In [12]:
"Let's learn python"

"Let's learn python"

In [14]:
print("Let's "+"Learn "+"Python!")

Let's Learn Python!

In [15]:
print("haha"*2)

hahahaha

# variables

In [16]:
print(21+21)
my_answer=42

42

In [17]:
my_answer

42

In [20]:
my_answer=43

In [21]:
my_answer

43

In [27]:
name="python"

In [28]:
name

'python'

In [29]:
name[1]

'y'

In [22]:
name=2

In [23]:
name

2

# data types

In [31]:
type(2)

int

In [32]:
type("python")

str

In [33]:
type(2.2)

float

# list

In [35]:
Beatles = ["John", "Paul", "George", "Ringo"]
grades = [82, 93, 67, 99, 100]

In [36]:
type(Beatles)

list

In [37]:
type(grades)

list

In [38]:
Beatles[0]

'John'

# Booleans

In [39]:
1==1

True

In [40]:
1>10

False

In [41]:
my_name="python"

In [43]:
my_name=="python"

True

In [44]:
type(True)

bool

In [45]:
3>1 and 2==2

True

```
and
or
not
```

In [46]:
True or False

True

In [47]:
not True

False

In [48]:
not True and True

False

In [49]:
not True or True

True

# logic

In [50]:
password="python"
if password == "python":
    print("correct!")

correct!

In [53]:
password="pandas"
if password == "python":
    print("correct!")
else:
    print("wrong!")

wrong!

In [55]:
password="pandas"
if password == "python":
    print("correct!")
elif password=="pandas":
    print("you got it!")
else:
    print("wrong!")

you got it!

# loop

In [60]:
for mynum in [1,2,3,4,5]:
    print("your numer=",mynum)

your numer= 1
your numer= 2
your numer= 3
your numer= 4
your numer= 5

In [61]:
count=0
while(count<5):
    print("count=",count)
    count=count+1

count= 0
count= 1
count= 2
count= 3
count= 4

# 总结

+ 变量类型int,float,string
+ 变量
+ 缩进
+ list
+ if
+ 循环

# function

函数

http://www.xiachufang.com/recipe/78140/

make_mpdf(tofu,pepper,water,oil)

函数名： *make_mpdf*  
参数：*tofu,pepper,water,oil*

In [62]:
def make_mpdf(tofu,pepper,water,oil):
    print("Your Mapo Doufu is ready!")

In [63]:
make_mpdf(500,5,50,20)

Your Mapo Doufu is ready!

+ 函数用def定义
+ 使用()调用
+ 函数有参数和返回值
+ return 定义返回值

In [64]:
def make_mpdf(tofu,pepper,water,oil):
    print("Your Mapo Doufu is ready!")
    return 10

In [65]:
price=make_mpdf(500,5,50,20)
print(price)

Your Mapo Doufu is ready!
10